@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
html, body{
    min-height: 100vh;
    background-color: darkgray;
}
header{
    background-color: black;
    color: white;
    text-align: center;
}
header > h1{
    padding-top: 50px;
    /*
    text-transform: uppercase; 
    Faz com que todas as letras fiquem maiúsculas
    */
    font-variant: small-caps;
}
header > p{
    padding-bottom: 50px;
}
header a, footer a{
    color: #ffffff;
    text-decoration: none;
    font-weight: bolder;
}
header a:hover, footer a:hover{
    text-decoration: underline;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}
.normal{
    background-color: white;
    color: black;
}
.imagem{
    background-color: rgba(59, 66, 66, 0.664);
    color:white
}
.imagem > p{
    background-color: rgba(0, 0, 0, 0.507);
    width: 400px;
}
footer{
    color: white;
    background-color: black;
    text-align: center;
    padding: 10px;
}